//
   Created by LuckyJS on 2015. 11. 4..

.container
  //div
  //  img(src="", id="picturePreview", style="border:1px solid black;width:100%")
  div(id="codeResult")
  div
    input(id="barcodeFileInput", type="file", accept="image/*;capture=camera")

  button.btn.btn-primary(id="startDecode") Decode
  div(id="picture")
    span This is a result area.

  //div(id="debug")



