//
   Created by LuckyJS on 15. 11. 3..
doctype html
html
  head
    title BookWorm
    link(rel="stylesheet", href="/bower_modules/bootstrap/dist/css/bootstrap.css")
  body(ng-app='app')
    block main-content
    include scripts
