//
   Created by LuckyJS on 2015. 11. 3..
script(type="text/javascript", src="/bower_modules/jquery/dist/jquery.js")
script(type="text/javascript", src="/bower_modules/angular/angular.js")
script(type="text/javascript", src="/bower_modules/angular-route/angular-route.min.js")
script(type="text/javascript", src="/bower_modules/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/bower_modules/quagga/dist/quagga.min.js")
script(type="text/javascript", src="/vendors/dist/load-image.all.min.js")
script(type="text/javascript", src="/app.js")
script(type="text/javascript", src="/main/main.js")
